/* Spinner */

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgb(49, 43, 141);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: rgba(255, 0, 0, 0.6);
  animation: spin 1s ease-in infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-img{
  clip-path: circle(40%);
  width: 300px;
}

.home-container form{
  width: 100%;
  text-align: center;
}

.home-container input{
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  border: none;
  width: 25%;
  /* text-align: center; */
}

.home-container button{
  padding: 1rem 2rem;
  border-radius: 10px 0 0 10px;
  font-size: 1rem;
  color: white;
  background-color: rgb(101, 101, 248);
  border: none;
  cursor: pointer;
  /* outline: none; */
  /* width: 100%; */
}

.gifs-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-title{
  font-size: 2rem;
  color: white;
  align-self: start;
  padding-left: 1rem;
  /* margin-top: 2rem; */
  /* width: 100%; */
}

.home-content{
  column-count: 2;
  column-gap: .8rem;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
}

.aside{
  width: 70%;
  padding: 2rem;
}

.aside h2{
  text-align: start;
  color: rgb(226, 70, 70);
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2rem;
}

.aside ul{
  list-style: none;
  text-align: start;
  padding: 0;
}

.aside ul li {
  margin-bottom: .5rem;
}


.aside .link{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
}

.aside .link:hover{
  color: rgb(145, 145, 145);
}



.App {
  text-align: center;
}

.content{
  padding-top: 2rem;
  color: white;
}

.App-content {
  column-count: 2;
  column-gap: .8rem;
  width: 90%;
  margin: 0 auto;
}

/* .gif-container{
  width: 85%;
} */

.gif-img{
  clip-path: circle(40%);
  width: 200px;
  margin-bottom: 5rem;
}

.gif {
  width:100%;
  display: inline-block;
  margin-bottom: .5rem;
}

.gif .img-container{
  /* margin-top: 1rem; */
  position: relative;
}

.gif img{
  width: 100%;
}

.gif .small{
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: gray;
  font-size: .8rem;
}

@media(min-width: 600px){
  .App-content {
    column-count: 3;
  }

  .gifs-content{
    flex-direction: row;
  }

  .home-content{
    column-count: 3;
    width: 70%;
  }
  
  .aside{
    width: 30%;
  }

  .gif-container{
    width: 65%;  
  }
}

@media(min-width: 800px){

  .gifs-content{
    flex-direction: row;
  }

  .gif-container{
    width: 40%;  
  }
}

@media(min-width: 1200px){

  .App-content {
    column-count: 4;
  }

  .home-content{
    column-count: 4;
    width: 80%;
  }

  .aside{
    width: 20%;
  }
}