/* Spinner */

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgb(49, 43, 141);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: rgba(255, 0, 0, 0.6);
  animation: spin 1s ease-in infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-img{
  clip-path: circle(40%);
  width: 300px;
}

.home-container h2{
  text-align: center;
  color: rgb(226, 70, 70);
  text-transform: capitalize;
  margin-top: 2rem;
}

.home-container ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.home-container .link{
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

.home-container .link:hover{
  color: rgb(145, 145, 145);
}

.home-container input{
  padding: 1rem;
  border-radius: 10px;
  font-size: .9rem;
  /* width: 100%; */
}

.App {
  text-align: center;
}

.content{
  padding-top: 2rem;
  color: white;
}

.App-content {
  column-count: 2;
  column-gap: .8rem;
  width: 90%;
  margin: 0 auto;
}

.home-title{
  /* display: block; */
  font-size: 2rem;
  color: white;  
}

.gif-container{
  width: 85%;  
}

.gif-img{
  clip-path: circle(40%);
  width: 200px;
  margin-bottom: 5rem;
}

.gif {
  width:100%;
  display: inline-block;
  margin: .5rem;
}

.gif .img-container{
  /* margin-top: 1rem; */
  position: relative;
}

.gif img{
  width: 100%;
}

.gif .small{
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: gray;
  font-size: .8rem;
}



@media(min-width: 600px){
  .App-content {
    column-count: 3;
  }

  .gif-container{
    width: 65%;  
  }
}

@media(min-width: 800px){
  .App-content {
    column-count: 4;
  }

  .gif-container{
    width: 40%;  
  }
}